html, body {
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    font-family: font-family: 'Be Vietnam Pro', sans-serif;
    background: linear-gradient(to top left, grey, white)
}


.grid {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border: solid 2px black;
    box-shadow: 3px 1px 1px darkgrey;
    margin: 0 auto;
}

.square {
    width: 20px;
    height: 20px;
}

.snake {
    background: green;
    border-radius: 30%;
}


.apple {
    background: linear-gradient(to top, rgb(204, 46, 34), rgb(3, 95, 3));
    border-radius: 36% 36% 41% 41% / 42% 42% 75% 75%;
}

button {
    font-size: 1.2em;
    border: solid 1px grey;
    padding: .8em;
    border-radius: 10px;
    box-shadow: 3px 1px 1px darkgrey;
    text-transform: uppercase;
}
